@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
    font-family: 'Comic Neue', cursive;
}

.icon {
    width: 6rem;
    height: 6rem;
}

.mini-icon {
    width: 3rem;
    height: 3rem;
}


/* all games - index */
.card-img {
    width: 2rem;
    height: 2rem;
}

/* Game Suit */
.tombolSuit {
    display: flex;
    margin: 10px 10px;
} 

.tombolSuit a {
    border-radius: 15rem;
}

.tombolSuit a img{
    flex: 1;
    width: 6rem;
    height: 6rem;
    border-radius: 15rem;
    border: 3px solid rgb(175, 171, 171);
    margin: 3px;
}

.tombolSuit a img:hover,
.tombolSuit a img:focus {
    border: 5px solid rgb(159, 159, 160);
}

.kotak-score {
    width: 3rem;
    height: 3rem;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    line-height: 2.5rem;
    font-size: 30px;
}


/* quiz math */
.title {
    font-size: 2rem;
}

.kategori button {
    width: 7rem;
    border-radius: 2rem;
}

.kategori button:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    opacity: 0.8;
}

.tulisanSoal {
    font-size: 2rem;
} 

.judulGame {

    color: white;
}

@media(max-width: 440px) {

    /* Game Suit */
    .tombolSuit a img {
        width: 3rem;
        height: 3rem;
    }
}