@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
    font-family: 'Comic Neue', cursive;
}

.icon {
    width: 6rem;
    height: 6rem;
}

.mini-icon {
    width: 3rem;
    height: 3rem;
}

.bg-custom-img {
    background: transparent url(../img/card-bg4.jpg) no-repeat;
    background-size: cover;
    background-clip: padding-box;
}

/* all games - index */
.card-img {
    width: 2rem;
    height: 2rem;
}

/* Game Suit */
/* .pilihModeSuit button{
    width: 10rem;
    border-radius: 2rem;
}

.noticeGame {
    font-size: 20px;
}

.tombolSuit {
    display: flex;
    margin: auto;
}

.tombolSuit a {
    border-radius: 15rem;
}

.tombolSuit a img{
    flex: 1;
    width: 5rem;
    height: 5rem;
    border-radius: 15rem;
    border: 1px solid black;
    margin: 3px;
}

.tombolSuit a img:hover,
.tombolSuit a img:focus {
    border: 2px solid blue;
}

.gameplay,
.playagain {
    display: none;
}

.winner {
    background-color: #5af7bd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: rgb(17, 17, 17);
}

.loser {
    background-color: #fa8176;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: rgb(27, 27, 27);
} */


/* quiz math */
.title {
    font-size: 2rem;
}

.kategori button {
    width: 7rem;
    border-radius: 2rem;
}

.kategori button:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    opacity: 0.8;
}

.tulisanSoal {
    font-size: 2rem;
} 

.judulGame {

    color: white;
}


@media(max-width: 400px) {

    /* .judulGame {
        color: #4e73df;
    }

    .icon {
        width: 4rem;
        height: 4rem;
    }

    .brandLink {
        font-size: 16px;
    }

    .divider {
        color: gray;
    }

    .alert-info p,
    .alert-info span {
        font-size: 12px;
    }

    .breadcrumb-item,
    .breadcrumb-item a,
    .breadcrumb-item span {
        font-size: 11px;
    }

    .title {
        font-size: 1.25rem;
    }

    .tulisanSoal {
        font-size: 1rem;
    }

    .headerTitle {
        font-size: 20px;
    }

    .himbau {
        font-size: 15px;
    }
    .pilihModeSuit button{
        width: 7rem;
        font-size: 12px;
    }

    .noticeGame {
        font-size: 12px;
    }

    .tombolSuit a img{
        width: 3rem;
        height: 3rem;
    }

    hr {
        width: 8rem;
    } */
}

@media(max-width: 270px) {

    /* .card-text {

        display: none;
    }

    .judulGame {
        font-size: 14px;
    }

    .icon {
        width: 3rem;
        height: 3rem;
    }

    .alert-info p,
    .alert-info span,
    .breadcrumb-item {
        font-size: 12px;
    }

    .social-media {
        font-size: 12px;
    } */
    
    /* Math Game */

    /* .title {
        font-size: 1rem;
    }

    .kategori button {
        width: 5rem;
        font-size: 12px;
    }

    .tulisanSoal {
        font-size: 15px;
    }

    .quit,
    .changeQuiz {
        font-size: 12px;
    } */

    /* Tebak Angka Game */

    /* .headerTitle {
        font-size: 17px;
    }

    .himbau {
        font-size: 12px;
    } */

    /* game suit */
    /* .tombolSuit a img{
        width: 2.5rem;
        height: 2.5rem;
    } */
}