/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
    font-family: 'Comic Neue', cursive;
}

.icon {
    width: 5rem;
    height: 5rem;
}

svg {
    width: auto;
    background-size: cover;
    z-index: -1;
}

/* Gambar Suit */
.tombol-suit img {
    width: 6rem;
    height: 6rem;
    margin: 0.3rem;
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.tombol-suit a {
    display: block;
    margin: auto;
    text-align: center;
    width: 120px;
    margin: 0.3rem;
}

.tombol-suit img:hover {
    background-color: aqua;
    border-radius: 0.25rem;
    transform: scale(1.1);
}


/* quiz math */
.title {
    font-size: 2rem;
}

.kategori button {
    width: 7rem;
    border-radius: 2rem;
}

.kategori button:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.2);
    opacity: 0.8;
}

.tulisanSoal {
    font-size: 2rem;
}

.kerjakanSoal,
.changeQuiz {
    display: none;
}



/* door game */



/* all games - index */
.card-img {
    width: 2rem;
    height: 2rem;
}

.brand {
    width: 2rem;
    height: 2rem;
}

.btn-navbar {
    outline: none;
}

.card-bg-img1 {
    background: transparent url('../img/card-bg1.jpg') no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    color: white;
}

.card-bg-img2 {
    background: transparent url('../img/card-bg2.jpg') no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    color: white;
}

.card-bg-img3 {
    background: transparent url('../img/card-bg3.jpg') no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    color: white;
}

.card-bg-img4 {
    background: transparent url('../img/card-bg4.jpg') no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    color: white;
}

.card-bg-img1:hover,
.card-bg-img2:hover,
.card-bg-img3:hover,
.card-bg-img4:hover {
    transform: scale(0.97);
}

.judulGame {

    color: white;
}

@media(max-width: 400px) {

    .card-bg-img1,
    .card-bg-img2,
    .card-bg-img3,
    .card-bg-img4 {
        text-align: center;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
        -o-background-size: contain;
        color: black;
    }

    .card-bg-img1:hover,
    .card-bg-img2:hover,
    .card-bg-img3:hover,
    .card-bg-img4:hover {
        transform: none;
    }

    .judulGame {
        color: #4e73df;
    }

    .icon {
        width: 4rem;
        height: 4rem;
    }

    .brandLink {
        font-size: 16px;
    }

    .divider {
        color: gray;
    }

    .title {
        font-size: 1.25rem;
    }

    .tulisanSoal {
        font-size: 1rem;
    }
}

@media(max-width: 270px) {

    /* .brandLink {
        display: none;
    } */

    .navbar-brand img {
        display: none;
    }

    .nav-item .nav-link{
        font-size: 12px;
    }

    .card-text {

        display: none;
    }

    .judulGame {
        font-size: 14px;
    }

    .icon {
        width: 3rem;
        height: 3rem;
    }

    .alert-info p,
    .breadcrumb-item {
        font-size: 12px;
    }

    /* Math Game */

    .title {
        font-size: 1rem;
    }

    .kategori button {
        width: 5rem;
        font-size: 12px;
    }

    .tulisanSoal {
        font-size: 15px;
    }

    .quit,
    .changeQuiz {
        font-size: 12px;
    }
}